.box {
  height: 200px;
  width: 200px;
}

#first {
  background-color: aqua;
  border: 30px solid black;
  padding: 20px;
  border-width: 10px 10px 10px 10px;
}

#second {
    background-color: gold;
    border: 30px solid black;
    text-align: center;
    border-width: 20px 10px 20px 10px;
    margin-left: 260px;

}

#third {
    background-color: indianred;
    border: 30px solid black;
    text-align: center;
    border-width: 10px 10px 10px 10px;
    margin-left: 42px;
}
p {
    margin: 0;
}